@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
   Chikkaballapur(Dist)<br />
   Karnataka-561211<br />
    <abbr title="Phone">P:</abbr>
  +91-9972869536
</address>

<address>
    <strong>Support:</strong> prasannakumarbe123@gmail.com<br />
    <strong>Marketing:</strong> >prasanna@gmail.com
</address>
